<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout::setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container-md">
			<br>
			<h2>Detail Page</h2>
			<br>
			<form action="/board/modify" method="post" id="modForm">
				<table class="table">
					<tr>
						<th>Bno</th>
						<td><input type="text" name="bno" class="form-control" id="bno" th:value="${bvo.bno }" readonly="readonly"></td>
					</tr>
					<tr>
						<th>Title</th>
						<td><input type="text" name="title" class="form-control" id="title" th:value="${bvo.title }" readonly="readonly"></td>
					</tr>
					<tr>
						<th>Writer</th>
						<td><input type="text" name="writer" class="form-control" id="writer" th:value="${bvo.writer }" readonly="readonly"></td>
					</tr>
					<tr>
						<th>Content</th>
						<td><textarea name="content" class="form-control" id="content" rows="3" readonly="readonly">[[${bvo.content }]]</textarea></td>
					</tr>
					<tr>
						<th>Reg_date</th>
						<td><input type="text" name="reg_date" class="form-control" id="regAt" th:value="${bvo.regAt }" readonly="readonly"></td>
					</tr>
					<tr>
						<th>mod_at</th>
						<td><input type="text" name="read_count" class="form-control" id="modAt" th:value="${bvo.modAt }" readonly="readonly"></td>
					</tr>
					
				</table>
			</form>
				
			<button type="button" id="listBtn" class="btn btn-outline-primary">리스트로 이동</button>
			<!-- 버튼 하나를 생성하여 수정을 완료하는 버튼으로 사용 -->
			<button type="button" id="modBtn" class="btn btn-outline-success">수정</button>
			<button type="button" id="delBtn" class="btn btn-outline-danger">삭제</button>
			
			
			<!-- <a th:href="@{/board/list}"><button type="button" id="listBtn" class="btn btn-outline-primary">리스트로 이동</button></a>
			<a th:href="@{/board/modify(bno=${bvo.bno })}"><button type="button" id="modBtn" class="btn btn-outline-success">수정</button></a>
			<a th:href="@{/board/delete(bno=${bvo.bno })}"><button type="button" id="delBtn" class="btn btn-outline-danger">삭제</button></a>
			 -->
				 
			<form action="/board/delete" method="get" id="delForm" style="display:none;">
				<input type="hidden" name="bno" th:value="${bvo.bno}">
			</form>
			
			
			<!-- 댓글 등록 라인 -->
			<div class="input-group mb-3">
			  <span class="input-group-text" id="cmtWriter">Anonymous</span>
			  <input type="text" class="form-control" id="cmtText" aria-label="Amount (to the nearest dollar)">
			  <button type="button" class="btn btn-outline-success" id="cmtPostBtn">Post</button>
			</div>
			
			
			<!-- 댓글 표시 라인 -->
			<ul class="list-group" id="cmtListArea" >
			  <li class="list-group-item"> 
			  	<div class="mb-3">
			  		<div class="fw-bold">Writer</div>
			  		content
			  	</div>
			  	<span class="badge text-bg-warning">modAt</span>
			  </li>
			</ul>
			
			
			
			
			
			
			<script th:inline="javascript">
				const bnoVal = `[[${bvo.bno}]]`;
				console.log(bnoVal);
			</script>
			<script th:src="@{/js/boardDetail.js}"></script>
			<script th:src="@{/js/boardComment.js}"></script>
			<script th:inline="javascript">
				spreadCommentList(bnoVal);
			</script>
		</div>
		
	</th:block>
</th:block>